* {
    box-sizing: border-box;
  }

html, body {
    margin: 0px;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-image: url("../Assets/Images/DownloadPage/gameFullscreenScreen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

body.noscroll {
    overflow: hidden;       /* disables all scrolling */
    height: 100vh;          /* prevent sneaky overflows */
}
  
body.noscroll::-webkit-scrollbar {
    display: none;          /* hides the scrollbar (WebKit browsers) */
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.content{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.content > h1 {
    color: black;
    font-size: 5rem;
    
    font-family: "WidePixelFont";
    font-size: 2vw;
}

.content > p {
    max-width: 50%;
    text-align: center;
    line-height: 20px;
}

.content img {
    width: 290px;
    aspect-ratio: 1.5;
    transition: all 0.5s ease;
}

.content img:hover {
    width: 320px;
    filter: sepia(1);
}

.download-container{
    
}