* {
    box-sizing: border-box;
  }

html, body {
    margin: 0px;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    /* overflow: hidden; */
}


body {
    background-image: url("../Assets/Images/DownloadPage/gameFullscreenScreen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    opacity: 1;
}

/* body.noscroll {
    overflow: hidden;       
    height: 100vh;          
}
  
body.noscroll::-webkit-scrollbar {
    display: none;          
} */

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    background-color: black;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none; /* optional: prevents blocking clicks */
}
  

.content{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.content > h1 {
    color: black;
}

.content > p {
    width: 50%;
    text-align: center;
    line-height: 20px;
}


@media only screen and (max-width: 1000px) {
    .content > p {
        width: 100%;
    }
}


.download-container{
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0vw;    
}

.download-option{
    flex: 1 1 300px;  
    max-width: 70%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-option > h2 {
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--light-blue);
}

.download-btn{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-btn > a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button{
    border-radius: .75rem;
    display: flex;
    align-items: center;

    width: 60%;
    height: fit-content;
    padding: 10px;
    background-color: var(--light-blue);
    transition: all .1s ease;
}

.button:hover{
    background-color: var(--dark-blue);
}

.button p {
    font-family: 'WidePixelFont';
    font-size: 200%;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 1000px) {

    .button p {
        font-family: 'WidePixelFont';
        font-size: 100%;
        width: 100%;
        text-align: center;
    }
}



.qrholder{
    height: 100%;
}

.qrcode{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

