* {
    box-sizing: border-box;
  }

html, body {
    margin: 0px;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-image: url("../Assets/Images/DownloadPage/gameFullscreenScreen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
    opacity: 1;
}

body.noscroll {
    overflow: hidden;       /* disables all scrolling */
    height: 100vh;          /* prevent sneaky overflows */
}
  
body.noscroll::-webkit-scrollbar {
    display: none;          /* hides the scrollbar (WebKit browsers) */
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.black{
  width: 100%;
  height: 100%;
  
  background-color: black;
  position: absolute;
  z-index: 0;

  opacity: .3;
}

.content{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.content > h1 {
    color: black;
    font-size: 5rem;
    
    font-family: "WidePixelFont";
    font-size: 2vw;
}

.content > p {
    max-width: 50%;
    text-align: center;
    line-height: 20px;
}



.download-container{
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 100%;
    
    justify-content: center;
    gap: vw;    
}

.download-container > *:first-child {
    /* border-right: 3px solid var(--light-blue); */
}

.download-option{
    width: 30%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-option > h2 {
    color: white;
    font-size: 2rem;
}

.download-btn{
    width: 100%;
    height: 100%;
}

.download-btn p{
    height: 15%;
    width: 100%;
}

.download-btn > img {
    width: 50%;
    height: auto;
    transition: all 0.1s ease;

}

.download-btn > img:hover {
    width: 55%;
    height: auto;
}

.descriptior-text{
    transition: all 0.1s ease;
    color: white;
}

.download-btn:has(img:hover) .descriptior-text {
    color: var(--light-blue);
  }

.qrholder{
    height: 100%;
}

.qrcode{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 10px;
}