html {
    height: 100%;

    scroll-behavior: smooth;
}

body {
    background-color: black;
    margin: 0px;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

/* This is voodoo. I dont know what is happening here but you can make the scrollbar dissapear. */
body.noscroll {
    overflow: hidden;       /* disables all scrolling */
    height: 100vh;          /* prevent sneaky overflows */
}
  
body.noscroll::-webkit-scrollbar {
    display: none;          /* hides the scrollbar (WebKit browsers) */
}

body::-webkit-scrollbar {
    display: none;          /* hides the scrollbar (WebKit browsers) */
}

.flex-div{
    display: flex;
}


.container {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: center;

    background-color: black;

    width: 100%;
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 30%, 800px);
    height: auto;
    z-index: 1;
    pointer-events: none;

    animation: logo-sway 5s ease infinite alternate;
}

@keyframes logo-sway {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-52%, -50%) rotate(-.1deg);
    }
    100% {
        transform: translate(-48%, -50%) rotate(0deg);
    }
}

.start-btn{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);

    width: 20%;
    height: 7%;

    border-radius: 7px;
    border: none;

    font-family: "WidePixelFont";
    font-size: 1.4vw;

    background-color: var(--light-blue);
    transition: background-color .2s ease;
}

.start-btn:hover{
    background-color: var(--dark-blue);
}


.gradient-overlay{
    margin-top: 600px;
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 305px;

    background: linear-gradient(to top, rgba(12, 12, 12, 1), rgba(0, 0, 0, 0)) no-repeat;
    background-size: 100% 305px;
    background-color: transparent;
}

.main-content{
    opacity: 1;

    margin-top: 900px;
    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 100px;

    padding: 0 20px 0 20px;

    width: 100%;
    height: fit-content;

    background-color: rgb(12, 12, 12);
    box-sizing: border-box;

    transition: opacity .5s ease;
}

/* section rulesets */
.section, .section-title, .section-content{
    display: block;
}

.section-title > h1{
    font-family: "WidePixelFont";
    font-size: 3rem;
}

.section-image  {
    width: 150px;
    float: right;
}

.section-title {
    margin-bottom: 50px;
}


.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
.list-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.list-row li {
    background: var(--light-blue);
    padding: 1em .5em;
    border-radius: 5px;
    flex: 1 1 auto;

    text-align: center;
    transition: all .2s ease;
}

.list-row li a {
    text-decoration: none;
}

.list-row li:hover {
    background: var(--dark-blue);
    box-shadow: 0 0 20px 5px var(--light-blue);
}

.section-content hr {
    width: 85%;
    border: 1px solid var(--dark-blue);
}




/* about section */
.about-game{
    margin: auto;
    width: 100%;
}

.half-width{
    width: 50%;
}

.about-game p, .about-game h1{
    text-align: center;
}

.about-game-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.intro-gif{
    border-radius: 5px;
    width: 30%;
}

.story-holder{
    margin-top: 1%;
    width: 100%;
    background-color: rgb(34, 20, 30);
    border-radius: 10px;
    /* padding-bottom: 1%; */
    border-bottom: 2vh solid rgb(19, 14, 18);
}




/* navigation section */
.navigation{
    height: fit-content;
}

.navigation-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}

.navigation-card {
    position: relative;
    width: 17vw;
    height: 47vh;
    overflow: hidden;
}

.navigation-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../Assets/Images/MainPage/gameFullscreen.png");
    background-size: 500% 200%;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    z-index: 0;
    transform: scale(1.1);
    transition: filter 0.4s ease;
}

.navigation-card:hover::before {
    filter: blur(0);
}

.navigation-card button {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.navigation-card button h2 {
    margin: 5;
    pointer-events: none;
    line-height: 40px;
}

.navigation-card-container {
    transition: transform 0.2s ease;
    border-radius: 10px;
}


.navigation-card-container:hover{
    transform: translateY(-2%);
}

.selected{
    transform: translateY(-4%);
}

.selected .navigation-card::before{
    filter: blur(0);
}

.selected:hover {
    transform: translateY(-4%);
}


.navigation-cards .navigation-card-container:nth-child(1) {
    border: 10px solid var(--light-blue);
    border-right: 0px;
}

.navigation-cards .navigation-card-container:nth-child(2) {
    border: 10px solid var(--dark-blue);    
    border-right: 0px;
    border-left: 0px;
}

.navigation-cards .navigation-card-container:nth-child(3) {
    border: 10px solid var(--purple);
    border-right: 0px;
    border-left: 0px;
}

.navigation-cards .navigation-card-container:nth-child(4) {
    border: 10px solid var(--dark-purple);
    border-right: 0px;
    border-left: 0px;
}

.navigation-cards .navigation-card-container:nth-child(5) {
    border: 10px solid var(--light-purple);
    border-left: 0px;
}


.navigation-card-container:nth-child(1) .navigation-card::before {
    background-position: 0% 50%;
}

.navigation-card-container:nth-child(2) .navigation-card::before {
    background-position: 25% 50%;
}

.navigation-card-container:nth-child(3) .navigation-card::before {
    background-position: 50% 50%;
}

.navigation-card-container:nth-child(4) .navigation-card::before {
    background-position: 75% 50%;
}

.navigation-card-container:nth-child(5) .navigation-card::before {
    background-position: 100% 50%;
}


.navigation-card button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navigation-card h2{
    text-align: center;
    font-size: 1.3vw;
}

.navigation-card img {
    width: 45%;
    align-self: center;
}

/* changing section  */
.changing-holder{
    position: relative;
    overflow: hidden;


    
    height: 10000px;    
    margin-bottom: 1%;

    border-radius: 8px;
    border: 3px solid white;
}

.changing{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.padding-div{
    padding: 1%;
}

.changing.visible {
    opacity: 1;
    pointer-events: all;
    z-index: 2;
}


/* carousels and stuff */
.carousel {
    width: 100%;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth; /* for smooth scroll on buttons */
    padding: 10px;
    border-radius: 4px;

}


.carousel::-webkit-scrollbar {
    height: 10px;
}

.carousel::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.157); 
    border-radius: 4px;

}

.carousel::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 4px;
}

.carousel-track {
    display: inline-flex;
    gap: 20px;
}

.carousel-item {
    width: clamp(20vw, 40vw, 60vw);
    aspect-ratio: 4 / 3;

    background: #444;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    flex-shrink: 0;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* ensures image fills without distortion */
    object-position: center; /* center the crop */
  }

.game-mechanics-content-section, .systems-content-section{
    display: flex;
}

.game-mechanics-content-section, .systems-content-section, .development-content-section{
    margin: 3rem 0 3rem 0;
}


/* for systems and game mechanics tab */
.part-two{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;

    flex-direction: column;
    width: 80%;
    margin-left: 1%;
}

.part-two > img{
    width: 100%;
    border-radius: 5px;
}

.smaller{
    width: 40%;
}



/* specifically for the gallery tab */
.im-centering-it-im-centering-it{
    display: flex;
    justify-content: center;
    align-items: center;
}

.after-release, .before-release{
    margin: 3rem 0 3rem 0;
}

.after-release h2, .before-release h2{
    color: var(--light-blue);
}


/* development tab only */

.workdivision-div{
    margin: 2% 0 2% 0;
    
}

.workdivision-div > h2 , .workdivision-div p {
    text-align: center;
}

.workdivision-div > h2 {
    color: var(--light-blue);
}

.workdivision-div p {
    width: 50%;
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.techstack-div{
    display: flex;
    align-items: stretch;
}

.techstack-div h2 {
    color: var(--light-blue);
}

.logo-holder{
    width: 40%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}

.logo{
    aspect-ratio: 1/1;
    height: 150px;
    width: auto;
}

.abelton-logo {
    float: right;
    aspect-ratio: none;
    width: 500px;

}

.good,.bad{
    padding: 5px;
    border-radius: 10px;
}

.good{
    background-color: green;
}

.bad{
    margin-top: 1%;
    background-color: rgb(169, 0, 0);
}


/* tab heights */
.game-mechanics{
    height: 500px;
}

.systems{
    height: 1000px;
}

.development{
    height: 1000px;
}

.assets{
    height: 1000px;
}

.gallery{
    height: 1000px;
}