html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    padding-bottom: 30px;
    background: url("../Assets/Images/guy_with_phone.png");
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.content{
    margin-top: 110px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: "WidePixelFont";
    font-size: 2vw;
    margin-bottom: 130px;
}

.content-section {
    width: 80%;
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
    padding: 25px;
    border: 3px white solid;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: rgba(15, 15, 15, 0.849);
}

.content-section video {
    width: 40%;
    border-radius: 10px;
}

p {
    text-align: justify;
    line-height: 20px;
}

.left {
    flex-direction: row-reverse;
    text-align: left;

}

.right {
    text-align: left;
    flex-direction: row;
}

.content-section-text {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1000px) {
    .content-section video {
        width: 100%;
    }
    .content-section {
        margin-bottom: 40px;
        flex-wrap: wrap;
    }
}