.window {
    border: black 3px solid;
    width: fit-content;
    height: 40%;
    background-color: white;
    align-self: center;
}

.window button {
    color: black;
}

#titlebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(165, 155, 10);
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.window-content {
    width: 100%;
    height: 90%;
    overflow: auto;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.window-content button {
    float: left;
    width: 120px;
    height: 50px;
}

.window-content img {
    margin-top: 40px;
    margin-left: 0px;
}

td {
    padding: 10px;
    padding-right: 20px;
}

th {
    text-align: left;
}

td, th {    
    min-width: 200px;
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:hover {
    background-color: gainsboro;
}

tr {
    border: 2px solid gray;
}

thead {
    background-color: gray;
    color: white;
}

#file-chooser {
    width: 95%;
    height: 90%;
    padding: 10px;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#file-chooser img {
    height: 80%;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#file-chooser p {
    color: black;
}

#file-chooser button {
    height: 5%;
    width: 18%;
    margin-bottom: 10px;
}

#file-chooser button p {
    overflow-wrap: break-word;
}

@media only screen and (max-width: 1000px) {
    #file-chooser button {
        width: 100%;
    }

    .window-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .window {
        overflow: auto;
    }

    tr {
        margin-left: 150px;
    }
}