.navigation{
    height: fit-content;
}

.navigation-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}

.navigation-card {
    position: relative;
    width: 17vw;
    height: 47vh;
    overflow: hidden;
}

.navigation-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../Assets/Images/MainPage/gameFullscreen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    z-index: 0;
    transform: scale(1.1);
    transition: filter 0.4s ease;
}

.navigation-card:hover::before {
    filter: blur(0);
}

.navigation-card button {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}

.navigation-card button h2 {
    margin: 5;
    pointer-events: none;
}

.navigation-card-container {
    transition: transform 0.2s ease;
    border-radius: 10px;
}


.navigation-card-container:hover{
    transform: translateY(-2%);
}

.navigation-card-container.selected{
    transform: translateY(-4%);
}


.navigation-cards .navigation-card-container:nth-child(1) {
    border: 10px solid var(--light-blue);
    border-right: 0px;
}

.navigation-cards .navigation-card-container:nth-child(2) {
    border: 10px solid var(--dark-blue);    
    border-right: 0px;
    border-left: 0px;
}

.navigation-cards .navigation-card-container:nth-child(3) {
    border: 10px solid var(--purple);
    border-right: 0px;
    border-left: 0px;
}

.navigation-cards .navigation-card-container:nth-child(4) {
    border: 10px solid var(--dark-purple);
    border-right: 0px;
    border-left: 0px;
}

.navigation-cards .navigation-card-container:nth-child(5) {
    border: 10px solid var(--light-purple);
    border-left: 0px;
}


.navigation-card-container:nth-child(1) .navigation-card::before {
    background-position: 0% 50%;
}

.navigation-card-container:nth-child(2) .navigation-card::before {
    background-position: 25% 50%;
}

.navigation-card-container:nth-child(3) .navigation-card::before {
    background-position: 50% 50%;
}

.navigation-card-container:nth-child(4) .navigation-card::before {
    background-position: 75% 50%;
}

.navigation-card-container:nth-child(5) .navigation-card::before {
    background-position: 100% 50%;
}


.navigation-card button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navigation-card h2{
    text-align: center;
    font-size: 1.3vw;
}